Django>=4.2,<5.0
djangorestframework
psycopg2
python-dotenv
dj-database-url
whitenoise
cloudinary
django-cloudinary-storage
django-extensions
django-cors-headers 
django-ckeditor
django-nested-admin